.btn {
    padding: 22px 46px;

    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;

    background: linear-gradient(180deg, #ff5959 0%, #db00ff 100%);
    border: 0;
    border-radius: 15px;

    cursor: pointer;
}
