.buyout {
    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-bottom: 35px;
        &.active {
            .buyout__item-icon {
                transform: rotate(90deg);
            }

            .buyout__item-content {
                display: flex;
            }
        }
    }

    &__item-main {
        display: flex;
        justify-content: space-between;
        padding: 0 10px 25px;

        border-bottom: 1px solid #646464;
    }

    &__item-icon {
        height: fit-content;
        margin-right: 13px;

        transition: 0.2s linear;
    }

    &__item-header {
        margin-right: 62px;
    }

    &__item-header-top {
        display: flex;
        gap: 13px;
    }

    &__item-title {
        display: flex;

        margin-bottom: 15px;

        font-family: 'Mulish', sans-serif;
        font-size: 25px;
        font-weight: 500;
    }

    // hint
    &__item-hint {
        position: relative;
    }

    &__item-hint-icon {
        margin-left: 6px;

        &:hover {
            & ~ .buyout__item-hint-body {
                display: block;
            }
        }
    }

    &__item-hint-body {
        position: absolute;
        left: -20px;
        bottom: -360px;
        z-index: 1;

        display: none;
        width: 330px;
        padding: 33px 22px;

        color: #fff;

        background-color: #141414;
        border-radius: 12px;

        &::before {
            content: '';
            position: absolute;
            top: -20px;
            left: 30px;
            z-index: 1;

            border-top: 10px solid transparent;
            border-bottom: 10px solid #141414;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }

        .btn {
            margin-left: auto;
            color: #695cfe;
        }
    }

    &__item-hint-title {
        margin-bottom: 14px;
        font-family: 'Open sans', sans-serif;
        font-size: 20px;
        font-weight: 500;
    }

    &__item-hint-subtitle {
        max-width: 222px;
        margin-bottom: 60px;
        font-size: 15px;
        line-height: 12px;
        color: rgba(#fff, 50%);
    }

    &__item-hint-row {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;

        color: rgba(#fff, 50%);

        span {
            color: #fff;
        }

        .buyout__item-hint-address ~ span {
            max-width: 213px;
        }
    }

    &__item-status {
        font-family: 'Mulish', sans-serif;
        font-size: 15px;
        color: rgba(#000, 50%);
    }

    &__item-status-value.pending {
        color: #ffcd4d;
    }

    &__item-main-content {
        margin-right: auto;
    }

    &__item-main-controls {
        display: flex;
        gap: 15px;
    }

    &__item-content {
        display: none;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 0;
    }

    &__item-image {
        border-radius: 10px;
    }

    &__item-content-controls {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}

.buyout__item-main-controls--processing {
    &.active {
        img {
            animation: spin 2s linear infinite;
        }
    }

    .processing {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 700;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
