.header {
    grid-area: header;
    height: fit-content;

    &__inner {
        position: relative;
        display: flex;

        justify-content: flex-end;
        align-items: center;

        padding: 20px 0;
    }
}
