.main {
    grid-area: main;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 140px 56px 73px;
    }

    &__content {
    }

    &__cards-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        gap: 30px;

        padding: 0 30px;
    }
}
