.main {
    grid-area: main;

    &__inner {
        padding-bottom: 50px;

        display: flex;
        flex-direction: column;

        @media (max-width: $md) {
            margin-top: 30px;
        }
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding-bottom: 56px;

        @media (max-width: 992px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }

    &__header {
        max-width: 693px;
    }

    &__title {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    &__subtitle {
        color: rgba(#000, 50%);
        font-weight: 700;
        font-size: 18px;
    }

    &__content {
    }

    &__cards-list {
        display: grid;
        grid-template-columns: repeat(4, 309px);
        grid-auto-rows: auto;
        gap: 30px;

        @media (max-width: 1919px) {
            grid-template-columns: repeat(3, 309px);
        }

        @media (max-width: 1500px) {
            grid-template-columns: repeat(2, 309px);
        }
        @media (max-width: 1100px) {
            grid-template-columns: repeat(1, 309px);
        }

        @media (max-width: $md) {
            place-content: center;
        }
    }

    // buyout group
    .nav-tabs {
        display: flex;
        gap: 42px;

        margin-bottom: 40px;
    }
}
