.nav {
    &--sidebar {
        .nav__list {
            flex-direction: column;
        }

        .nav__link {
            width: 218px;

            padding: 10px;

            display: flex;
            align-items: center;
            gap: 12px;

            border-radius: 8px;

            transition: background-color 0.3s linear, box-shadow 0.3s linear;

            &:hover,
            &.active {
                background-color: #fff;
                box-shadow: 0 20px 27px 0 rgb(0 0 0 / 5%);

                .nav__item-image {
                    border-color: #e15959;
                }

                .nav__item-image::before {
                    opacity: 1;
                }
            }
        }

        .nav__item-image {
            position: relative;
            z-index: 1;

            width: 32px;
            height: 32px;

            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 8px;

            box-shadow: 1px 2px 2px rgba(#141414, 0.3);
            overflow: hidden;

            transition: background 0.3s linear;

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                z-index: -1;

                width: 100%;
                height: 100%;

                background: linear-gradient(310deg, #b645ef 0%, #cb0c9f 100%);

                opacity: 0;

                transition: opacity 0.3s linear;
            }

            img {
                max-width: 12px;
            }
        }

        .nav__item-text {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        .nav__item-desk {
            font-size: 10px;
        }
    }

    &__list {
        display: flex;
        gap: 1px;

        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: #344767;
    }

    &__link {
        display: flex;
        align-items: center;

        img + span {
            margin-left: 15px;
        }
    }
}
