.tabs {
    display: flex;
    gap: 40px;

    @media (max-width: $sm) {
        flex-direction: column;
        gap: 20px;
    }

    &__item {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;

        color: #344767;

        cursor: pointer;

        transition: color 0.3s linear, text-shadow 0.1s linear;

        &:hover,
        &.active:hover {
            color: #cb0c9f;
        }
        &.active {
            color: #344767;
            font-weight: 700;
        }
    }
}
