<header class="header">
    <div class="container">
        <div class="header__inner">
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <img src="img/header/wallet.png" alt="кошелек">
                            <span>1000 руб.</span>
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <img src="img/header/user-settings.png" alt="user settings">
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">
                            <img src="img/header/logout.png" alt="logout">
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>