// normalize css
@import 'vendor/normalize.scss';

// vars
@import 'vars.scss';

// fonts
@import 'fonts.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;

    background-color: $primary;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}

.wrapper {
    position: relative;

    display: grid;
    grid-template-areas:
        'aside header'
        'aside main'
        'footer footer';

    grid-template-columns: 300px minmax(0, 1620px);
    place-content: center;

    @media (max-width: $md) {
        grid-template-columns: 1fr;
        grid-template-areas:
            'header'
            'main'
            'footer';
    }
}

// fixed
.fixed {
    position: fixed;
}

// components
@import 'components/container.scss';
@import 'components/header.scss';
@import 'components/burger.scss';
@import 'components/nav.scss';
@import 'components/sidebar.scss';
@import 'components/main.scss';
@import 'components/btn.scss';
@import 'components/tabs.scss';
@import 'components/card.scss';
@import 'components/settings-btn.scss';
@import 'components/footer.scss';
